<!doctype html>
<html lang="en">
  <head>
    <title>Text Operation | web world</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <nav class="nav justify-content-end bg-dark text-warning">
        <a class="nav-link active" href="#">demo</a>
        <a class="nav-link" href="#">demo</a>
        <a class="nav-link disabled" href="#">demo</a>
      </nav>

      <div class="container">
        <form action="action/" method="post">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="bg-light text-success text-center">Text Operation</h1>
                </div>
                <div class="col-sm-12">
                    <div class="form-group"> {% csrf_token %}
                      <label for="text">Enter Your Demo Text:</label>
                      <textarea class="form-control" name="text" id="text" rows="3" required></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                   <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="uppercase" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Upper Case</label>
                        </div>
                </div>
                <div class="col-sm-12">
                   <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="removepunch" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Remove Punchuation</label>
                        </div>
                </div>
                <div class="col-sm-12">
                   <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="removeExspace" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Remove Extra Space</label>
                        </div>
                </div>
                <div class="col-sm-12">
                   <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="removeNewLine" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">Remove New Line</label>
                        </div>
                </div>
                
                <div class="col-sm-12 offset-5">
                    <button type="submit" name="submit" id="submit" class="btn btn-success mt-3">Submit</button>
                </div>
            </div>
        </form>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>